
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script color="0,0,0" opacity="0.5" count="99"
            src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.js"
            type="text/javascript" charset="utf-8"></script>
    <script src="../../static/css/js/jquery-1.8.2.min.js"></script>
</head>
<script>
    $(function () {
        var no = $("#no").val();
        if(no!="" && no!=null){
            alert($("#no").val())
        }

    })
</script>
<body>

<h1>填写开户信息</h1>
<form action="" method="post">
    <table>
        <input type="hidden" th:value="${no}" id="no"/>

        <input type="hidden" name="version" th:value="${jxMap.version}">

            <input type="text" name="idCardNo" >

            <input type="text" name="mobile" >


                <input type="submit" value="立即开通">


    </table>
</form>

</body>
</html>