<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的账户</title>
    <script src="../static/js/jquery-1.8.2.min.js"></script>
    <script type="text/javascript">

         $(function () {
             var userId =window.localion.search.split("&userId=")[1];
            $.post(
                "/goUserMain/toMyAccount",
                {userId,userId},
                function (obj) {
                  if(obj){
                      alert("注册电子账户")
                  }
                },
                "json"

            )

        })

    </script>
</head>
<center>
    <body>
    <script color="0,0,0" opacity="0.5" count="99" src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.js"
            type="text/javascript" charset="utf-8"></script>
    <h1 style="font-size: 88px">我是我的账户页面</h1>
    <!--我要做的第一件事情是判断用户有没有开通虚拟电子账户，没有提示其去开通-->
    <!---->
    <!--<p th:text="'hello'+${useronemain.realname}"> assssssssss</p>

    <p th:text="${useronemain.realname}"></p>-->
<!--   <th:c:forEach items="${useronemain }" var="" varStatus="status" begin="0" step="1">
        <tr class="gradeX">
            我的userid<td class="">${useronemain.userid}</td>
        </tr>
    </th:c:forEach>-->
        <table style="border: 2px;border-color: red">
            <tr>
                <td>我的userid</td>
                <td><input type="text" name="userid" placeholder="我是userid" th:value="${userId}"></td>
            </tr>
            <tr>
                <td>我的真实姓名</td>
                <td><input type="text"  placeholder="我是真实姓名" ></td>
            </tr>
            <tr>
                <td>我的用户电子账户</td>
                <td><input type="text" name="userAccountId" placeholder="我是用户电子账户" value=""></td>
            </tr>
            <tr>
                <td>我的身份证</td>
                <td><input type="text" name="idCardNo" placeholder="我是身份证"></td>
            </tr>
            <tr>
                <td>我的已绑定的手机号码，不要求唯一</td>
                <td><input type="text" name="mobile" placeholder="我是已绑定的手机号码，不要求唯一"></td>
            </tr>
            <tr>
                <td>我的江西银行预留的手机号</td>
                <td><input type="text" name="jxmobile" placeholder="我是江西银行预留的手机号"></td>
            </tr>
            <tr>
                <td>我是电子账户</td>
                <td><input type="text" name="ye2" placeholder="我是电子账户"></td>
            </tr>
            <tr>
                <td>我的可用现金余额</td>
                <td><input type="text" name="cash" placeholder="我的可用现金余额"></td>
            </tr>
            <tr>
                <td>账面余额</td>
                <td><input type="text" name="currBal" placeholder="账面余额"></td>
            </tr>
            <tr>
                <td>我的已冻结的提现中现金</td>
                <td><input type="text" name="frozenWithDrawCash" placeholder="我是已冻结的提现中现金"></td>
            </tr>
            <tr>
                <td>我的已冻结的投标中现金</td>
                <td><input type="text" name="frozenBiddingCash" placeholder="我是已冻结的投标中现金"></td>
            </tr>
            <tr>
                <td>我的已冻结的提现中现金</td>
                <td><input type="text" name="frozenWithDrawCash" placeholder="我是已冻结的提现中现金"></td>
            </tr>
        </table>
    </body>
</center>
</html>