<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/js/jquery-1.8.2.min.js"></script>
    <script src="../static/js/md5.js"></script>
    <link rel="stylesheet" href="../static/css/index_like.css">
</head>

<script type="text/javascript">
    $(function () {
    })
</script>
<body>
aaaaa
<form action="login" method="get">
    <table>
        <tr>
            <td colspan="10">
                <h1>登陆成功</h1>
                <h1>登陆成功</h1>
                <h1>登陆成功</h1>
                <h1>登陆成功</h1>
                <h1>登陆成功</h1>
            </td>
        </tr>

        <tr>
            <td colspan="10"><a href="/goOpen/toOpen">开户</a></td>
        </tr>
    </table>
</form>
</body>
</html>