<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/css/js/jquery-1.8.2.min.js"></script>
    <script src="../static/css/js/md5.js"></script>
    <link rel="stylesheet" href="../static/css/css/index_like.css">
</head>

<script type="text/javascript">
$(function () {



})
function checkmobile(){
    var mobile = $("[name='mobile']").val();
    var regmobile = /^(1(([35][0-9])|(47)|[8][01236789]))\d{8}$/;
    if (mobile == "") {
        alert("请输入手机号");
    } else {
        if (!regmobile.test(mobile)) {
            alert('手机号码输入不正确！');

        }
    }
}
function checkpasswd(){
    var passwd = $("[name='passwd']").val();
    var passwd = $.md5($("[name='passwd']").val());///前台加密
    if (passwd == "") {
        alert("请输入密码");
    }
}

function changeCode(){
    var imgNode = document.getElementById("vimg");
    //重新加载验证码，达到刷新的目的
    imgNode.src = "AuthImageServlet?t=" + Math.random();
    // 防止浏览器缓存的问题
}
</script>
<body>
<form action="login" method="get">
    <table>
        <tr>
            <td><input type="text" name="mobile" placeholder="手机号" id="checkmobile"></td>
        </tr>
        <tr>
            <td><input style="" type="password" name="passwd" onblur="checkpasswd()" placeholder="6-32位密码" id="passwd"><a href="#">忘记密码</a></td>
        </tr>
        <tr>
            <td><input type="text" name="randomCode"/>
                <img id="vimg"  title="点击更换" onclick="changeCode();" src="/AuthImageServlet">
            </td>
        </tr>
        <tr>
            <td colspan="10">
                <input type="submit" value="登录">
                <span style="margin-left: 100px">没有账号？</span><a href="/goUser/toregister">快速注册</a>
            </td>
        </tr>
    </table>
</form>
</body>
</html>