<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>error</title>

</head>

<script type="text/javascript">

</script>
<body>
<script color="0,0,0" opacity="0.5" count="99"
        src="https://cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.js"
        type="text/javascript" charset="utf-8"></script>
<form action="" method="get">
    <table>
        错误页面
        <p th:text="错误信息：${imageError}"></p>
    </table>
</form>
</body>
</html>